{% extends "moneyclub/login_template.html"%}

    {% block headblock %}
    {% block title %}
    <title>{{group_name}}</title>
    {% endblock title %}
    
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  {% endblock headblock %}
  
    {% block contentsblock %}

    <div class="container">

      <form class="form-signin"><br/><br/><br/><br/><br/><br/>
        <h2 class="form-signin-heading"><div class="btn btn-block btn-lg btn-success">
        <span class="glyphicon glyphicon-ok">
        </span> 
        
        User Invited Successfully!</div></h2>
        
      </form>

    </div> <!-- /container -->
    {% endblock contentsblock %}
