{% extends "moneyclub/login_template.html" %}

{% block headblock %}
    {% block title %}
    <title>Article: {{article.title.value}}</title>
    {% endblock title %}
       <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/offcanvas.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2.min.js"></script>
  
  {% endblock headblock %}
  

     {% block contentsblock %}
    <div class="container">

      <div class="row ">
        <div class="col-lg-8">
          <div class="article">
            <h1>{{article.title.value}}</h1>
            <p class="lead">by <a href="grouppage.html">{{user}}</a></p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Post at {{article.datetime}}</p>
            
            <!--
            {% for field in article.visible_fields %}
            {{field.label_tag}}: 
            {{field}}
            <p style="color:red;"> {{field.errors}} </p>
            {% endfor %}
          -->
            {% if  articleType == 1 %}
            {% if article.picture %}
              <img class="media-object" src="{% url 'post-photo' article.id %}" alt="..."width="400px">
            {% endif %}
            <p class="lead">{{article.content.value}}</p>

            {% endif %}
            
            <!-- event post -->
            {% if  articleType == 2 %}

            
            <div class="container">
              <div class="row-fluid marketing">
                <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-3 col-md-offset-2 text-center"></th>
                            <th class="col-md-6"></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                      
                            <tr >
                                <td class="text-center">When: </td>
                                
                                <td>{{article.datetime}}</td>
                            </tr>
                            <tr class="success">
                                <td class="text-center">Where: </td>
                                
                                <td>{{article.location}}</td>
                            </tr>
                            <tr class="warning">
                                <td class="text-center">Description: </td>
                                
                                <td>{{article.description.value}}</td>
                            </tr>
                   
                    </tbody>
                </table>
              </div> <!--/.container -->
     
                  
              </div><!--/.marketing -->
            </div ><!--/.container -->
            {% endif %}
         
            <div class="btn-sm-group">
              
              <button  id="upvote" type="button" class="btn btn-success glyphicon glyphicon-thumbs-up">({{article.upvotes|length}})</button>
              <button  id="downvote" type="button"class="btn btn-danger glyphicon glyphicon-thumbs-down">({{article.downvotes|length}})</button>

           
            </div>
            <hr>
          </div> <!--/article--> 
          <!-- the comment box -->
          <div class=" well">
            <h4>Leave a Comment:</h4>
            <form role="form">
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          
          <hr>

           
        

          

           <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" src="/static/image/289919_1252843359020_250_330.jpg" alt="..."width="100px">
                    </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="index.html">Scrooge Mcduck</a></h4>
                    <p> Told you ! </p>
                  </div>
                  <hr>
                  <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 8:00 PM</p>
                  <div class="btn-group-sm pull-right">
                    <button  id="upvote" type="button" class="btn btn-success glyphicon glyphicon-arrow-up">Upvote(3)</button>
                    <button  id="downvote" type="button"  class="btn btn-danger glyphicon glyphicon-arrow-down">Downvote(7)</button>
                  </div>
                </div><!--/media-->
             
              <div class="row">
                <div class=" well">
                  
                  <form role="form">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Comment</button>
                      </span>
                    </div><!-- /input-group -->
                  </form>
                </div> <!--/well-->
              </div> <!--/.row -->
            </div><!--/col-lg-8-->
          </div><!--/row-->
        </div><!--/span-->
      </div>

       

      <hr>


    </div><!--/.container-->

     {% endblock contentsblock %}
