{% extends "moneyclub/login_template.html" %}

  {% block headblock %}

    <!-- title and scripts -->
    {% block title %}
    <title>Create Money Club</title>
    {% endblock title %}
    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  {% endblock headblock %}
  

  {% block contentsblock %}
    <div class="container">
    
 
    <form enctype="multipart/form-data"  action="/moneyclub/groups/club_create_submit" method="post" class="form-signin">
     <h2 class="form-signin-heading">Create a Money Club!</h2>
        		<table>
        		
<tr>
    <td>Group Name<font style="color:red">*</font>:</td>
    <td class="grumblr-green"><input class="form-control" type="text" name="name" placeholder="Group Name"></input></td>
</tr>

<tr>
    <td width="400">Description<font style="color:red">*</font>: <br/> <small><font style="color:green">Upto 3000 characters</font></small></td>
    <td class="grumblr-orange"><textarea size="3000" class="form-control" type="text" name="description" placeholder="Group Description"></textarea></td>
</tr>

<tr>
    <td>Keywords: <br/><small><font style="color:green">Comma Separated</font><br/> </small> </td>
    <td class="grumblr-orange"><input class="form-control" type="text" name="keywords" placeholder="Keywords separated by commas"></input></td>
</tr>
<tr>
	<td><label for="id_picture">Picture:</label></td>
	<td><input id="id_picture"name="picture" type="file" /></td>
</tr><br/>

<tr>
	<td><input type="submit" value="Submit Changes"  method="post" ></td>
	<td>{%csrf_token%}</td>
</tr>
{%for error in errors%}
<tr><td colspan="2"><font style="color:red">{{error}}</font></td></tr>
{%endfor%}
</table>
</form>
    {% for field in form.visible_fields %}
          {{field.label_tag}}: 
          {{field}}
          <p style="color:red;"> {{field.errors}} </p>
          {% endfor %}
    </div> <!-- /container -->
    {% endblock contentsblock %}


