{% extends "moneyclub/index.html"%}
  {% block headblock %}
  {% block title%}
    <title>{{group.name}}</title>
  {% endblock title%}
  <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    
    <link href="/static/css/offcanvas.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/group_stock.js"></script>
    <script src="/static/js/edit_group_stock.js"></script>
    <script src="/static/js/post.js"></script>
    <script src="/static/js/animate.js"></script>
    <script src="/static/js/jquery.form.js"type="text/javascript" ></script>
  {% endblock headblock %}




          {% block jumbotron %}  
          <div class="jumbotron">
            <div class="row">


              <div class="col-lg-12">
                  <div class="media">
                    
                      <div class="pull-left" >
                        {% if group.picture %}
                          <img id="ameyy" class="media-object dp img-circle" src="/moneyclub/groups/get_photo_group/{{group.id}}/" 
                          style="width: 100px;height:100px;">
                        {% else %}
                          <img id="ameyy" class="media-object dp img-circle" src="/static/image/money.jpg" 
                          style="width: 100px;height:100px;">
                        {% endif %}
                      </div>

                    
                      <div class="media-body">
                          <h4 class="media-heading">{{group.name}} </h4>
                          <p><small>{{group.description}}</small></p>
                          <hr style="margin:8px auto">
                          <!-- display keywords -->
                          {% for keyword in keywords %}     
                          <span class="label label-default">{{keyword}}</span>
                          {% endfor %}
                          <hr style="margin:4px auto">
                        <div class="container ">
                          <div class="row">
                          <div class="col-md-4">
                              <div class="list-group">
                                  <a  class="list-group-item visitor">
                                      <h3 class="pull-right">
                                          <span class="glyphicon glyphicon-usd"></span>
                                    </h3>
                                      <h4 class="list-group-item-heading count">{{score}}</h4>
                                      <p class="list-group-item-text">
                                          Total Points</p>
                                  </a>
                              </div>
                          </div>
 
                        </div>
                      </div> <!-- /.container -->
                          

                      </div>
                  </div>

              </div><!-- col-lg-5 -->

            </div>
            
          </div> <!-- jumbotron -->
          {% endblock jumbotron %}
          {% block post%}
           <div class="container">  
            {% if is_member %}
            <button class="btn btn-warning btn-lg pull-right" data-toggle="modal" data-target="#myModal">
              New Post
            </button>
            {% else %}
            <a href="/moneyclub/groups/join_group/{{group.id}}/" class="btn btn-primary pull-right"> Join</a>
            {% endif %}
            <script>
               {% if errors %}
                    console.log(errors)
                   $("#myModal").modal('show')
              {% endif %}
            </script>
            <!-- Modal -->
            
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="container">
                    

                    <div class="tabbable">
                      <div class="modal-header">
                    
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#pane1" data-toggle="tab">Article</a></li>
       
                            <li><a href="#pane2" data-toggle="tab">Event</a></li>
                        </ul>
                 
                      </div>
                        
                            
                            <div class="tab-content">
                              
                              <div id="pane1" class="tab-pane active">
                                <div class="container">
                                  <div class="row">
              
                                                
                                      <form accept-charset="UTF-8" action="/moneyclub/groups/post_article" method="POST" id="post-article"  enctype="multipart/form-data">
                                        <input type="hidden" name="group_id" value="{{group.id}}">
                                        <input type="text" class="form-control" placeholder="Title of the article (*)" name="title">
                                      
                                      <input type="text" id="article type" name="article_type" value="1" hidden ></input>
                                          <textarea class="form-control counted" name="content" placeholder="Describe the article." 
                                          rows="10" style="margin-top:10px; margin-bottom:10px;resize: none"></textarea>
                                
                                     <p> Upload image for the article</p>
                                     <input id="id_picture" name="picture" type="file" /></input>
                                                                     
                                     
                                          <div class="modal-footer">
                                            <button class="btn btn-info post-article" id="{{group.id}}" type="submit">Post New Article</button>
                                          </div>

                                        {%csrf_token%}
                                      </form>
                                      <p> (*) fields are required </p>
                                    {% for error in form.errors %}
                                    {{error}}
                                    {% endfor %}
                                    {% for error in errors %}
                                      <p>      {{error}} </p>
                                    {% endfor %}

                              
                                  </div> <!--/row-->
                                </div> <!--/container-->
                              </div>  
                              
                              
                              <div id="pane2" class="tab-pane">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
                                            <form accept-charset="UTF-8" action="/moneyclub/groups/start_event" method="POST" id="start-event"  enctype="multipart/form-data">
                                            
                                              <input type="hidden" name="group_id" value="{{group.id}}">
                                              <div class="form-group">
                                                <label for="loc_input" class="col-md-3 control-label">Event (*)</label>
                                                <div class="input-group  col-md-7" >
                                                    <input class="form-control" size="16" type="text" value="" name="title" >
                                                    
                                                    
                                                </div>
                                            </div> <!--/.form-group -->
                                              <div class="form-group">
                                              <label for="dtp_input2" class="col-md-3 control-label">Date (*)</label>
                                                <div class="input-group date form_date col-md-7" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    <input class="form-control" size="16" type="text" value="" readonly name="eventDate">
                                                    
                                                      <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                      </span>
                                                </div>
                                       
                                            </div> <!--/.form-group -->
                                            <div class="form-group">
                                                <label for="dtp_input3" class="col-md-3 control-label">Time (*)</label>
                                                <div class="input-group date form_time col-md-7" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                                    <input class="form-control" size="16" type="text" value="" readonly name="eventTime">
                                                    
                                                    <span class="input-group-addon">
                                                      <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                                </div>
                                            </div> <!--/.form-group -->
                                            <div class="form-group">
                                                <label for="loc_input" class="col-md-3 control-label">Location (*)</label>
                                                <div class="input-group  col-md-7" >
                                                    <input class="form-control" size="16" type="text" name="location" value="" >
                                                    
                                                    
                                                </div>
                                            </div> <!--/.form-group -->
                                            <div class="form-group">
                                                <label for="evt_input" class="col-md-3 control-label">Description </label>
                                                <div class="input-group  col-md-7" >
                                                     <textarea class="form-control counted" name="description" rows="2" ></textarea>
                                                    
                                                </div>
                                            </div> <!--/.form-group -->
                                            
                                           <div class="modal-footer">
                                                <button class="btn btn-info start-event" id="{{group.id}}" type="submit">Start Event</button>
                                          </div>
                                             {%csrf_token%}
                                            </form>
                                             <p> (*) fields are required </p>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div><!-- /.tab-content -->
                          </div><!-- /.tabbable -->
                         
                    </div> <!-- /.container-->
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

             

               
          </div>  
          <hr>


          {% endblock post%}
          
          {% block articles %}
         {%if not articles%}
   <h4 class="media-heading">Sorry, no recent news from your joined Money Clubs.</h4>
   {%endif%}
   
   <ol>
   {%for article in articles%}
   
   {%if article.articleType == 1 %}
         <li> <h4 class="media-heading">Title: <a href="/moneyclub/groups/article/{{article.id}}">{{article.title}}</a></h4>
         <div class="row">
            
              <div class="media">
              {%if article.picture%}
                  <a class="pull-left" href="#">
                    <img class="media-object" 
                    
                    
                    src="/moneyclub/groups/get_photo_article/{{article.id}}" 
                    
                    
                    alt="Image Not Found!" width="100px">
                  </a>
               
               
               {%endif%}
               
               
                <div class="media-body">
                  
                  <span class="label label-info">Article posted in :</span>
                  <a href="/moneyclub/groups/home/{{article.groupId.id}}/">
                  <span class="label label-danger">{{article.groupId.name|truncatechars:30}}
                  
                  {%if article.groupId.name.length > 30%}..{%endif%}</span>
                  
                  </a>
                  
                  <br/>
                  {{article.content|truncatechars:100}}..
                                    
                </div><br/>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.datetime}}</p>
              </div><!--/media-->
            
            
          </div><!--/row-->
          
          
          </li>
          <hr/>
         
         
    {% elif article.articleType == 2 %}
    <li><h4 class="media-heading">Event : <a href="/moneyclub/groups/article/{{article.id}}">{{article.title}}</a></h4>
          <div class="row">
            
              <div class="media">
                  
                  </a>
                <div class="media-body">
                  
                  
                  <span class="label label-info">Event posted in :</span>
                  <a href="/moneyclub/groups/home/{{article.groupId.id}}/">
                  <span class="label label-danger">{{article.groupId.name|truncatechars:30}}
                  
                  {%if article.groupId.name.length > 30%}..{%endif%}</span>
                  
                  </a>
                  <table class="table table-striped table-condensed">
                  
                  <tbody>
                          <tr>
                            <td><a href="/moneyclub/groups/article/{{article.id}}">Date</a></td>
                            <td>{{article.eventDate}} {{article.eventTime}}, {{article.eventDate}}</td>
                            
                          </tr>
                  </tbody>
                  <tbody>
                          <tr>
                            <td><a href="/moneyclub/groups/article/{{article.id}}">Time</a></td>
                            <td>{{article.eventTime}}</td>
                            
                          </tr>
                  </tbody>
                  <tbody>
                          <tr>
                            <td><a href="/moneyclub/groups/article/{{article.id}}">Location</a></td>
                            <td>Uncle Scoorge's Castle</td>
                            
                          </tr>
                  </tbody>
                </table>
                </div>
                
                <p class="pull-right"><span class="glyphicon glyphicon-time"></span> Posted on August 27, 2013 at 9:00 PM</p>
                  
               
              </div><!--/media-->
               

            
          </div><!--/row-->
        </li>
        <hr/>
        {%endif%}
        
  {%endfor%}
  </ol>
          {% endblock articles %}

          {% block sidebars %}
          <div class="well sidebar-nav stock" id="{{group.id}}">
            <ul class="nav">
             
              <table class="table table-striped table-condensed">
                  <thead>
                          <tr>
                            <td></td>
                            <td>PRICE</td>
                            <td>CHG</td>
                            <td>%CHG</td>
                          </tr>
                  </thead>   
                  <tbody>
                    {% for stock in stocks %}
                      <tr id="{{stock.id}}">
                            <td>{{stock.stock_name}}</td>
                            <td>{{stock.price}}</td>
                            <td>{{stock.change}}</td>
                            <td >{{stock.percent_change}}</td>
                            <th> <span class="glyphicon glyphicon-minus delete-stock" id="{{stock.id}}" style="color:red;font-size:75%"></span></th>
                      </tr>
                    {% endfor %}
                         
                  </tbody>
              </table>

              <div class="input-group add-stock">
                <input type="text" class="form-control add-stock" placeholder="add stock">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button">
                    <span class="glyphicon glyphicon-plus">
                </span>
                
              </div><!-- /input-group -->
              


            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav">
              <li><h4><a href="/moneyclub/groups/only_view_group_members/{{group.id}}">Members</a></h4></li>
              {%for member in members%}
              <li class="active">
              <a href="/moneyclub/member/visit-user/{{member.user.id}}/">
              <span class="glyphicon glyphicon-user" style="color:green"></span>{{member.user.username}}
              </a></li>
              {%endfor%}
              {% if more_members%}<li>
              <a href="{% url 'member_management' group.id%}"> {{more_members_count}} more Members</a></li>
              {%endif%}
            </ul>
            <div><a href="/moneyclub/member/visit-user/{{group.owner.id}}/">
              <span class="glyphicon glyphicon-user" style="color:red"></span> Group Owner: {{group_owner.username}}
           </a>
            </div>

          </div><!--/.well -->
        <div class="well sidebar-nav">
          <ul class="nav">
              <li>Events</li>
              {% for event in events %}
                <li><a href="/moneyclub/groups/article/{{event.id}}"><span class="glyphicon glyphicon-calendar"></span>{{event.title}}</a></li>
              {% endfor %}
              
              
            </ul>
        </div><!--/.well -->
        
        
        {% endblock sidebars %}