{% extends "moneyclub/login_template.html" %}
  
    {% block headblock %}
    {% block title %}
    <title>{{user}}'s Homepage</title>
    {% endblock title %}
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/offcanvas.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2.min.js"></script>
  {% endblock headblock %}

  
  
    

    {% block contentsblock %}
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
         
         {% block jumbotron%}
          <div class="jumbotron">
            <div class="row">


              <div class="col-lg-12">
                  <div class="media">
                      <a class="pull-left" href="#">
                          <img class="media-object dp img-circle" src="{% url 'user-photo' user.id%}" style="width: 100px;height:100px;">
                      </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{user}} <small> USA/Scotland</small></h4>
                        <h5>adventurer, explorer and philanthropist at <a href="http://disney.wikia.com/wiki/Scrooge_McDuck">McDuck & Company</a></h5>
                        <hr style="margin:8px auto">

                                <p>
                                    <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                                    <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
                                    <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Unfollow</a>
                                </p>
                        
                    </div>
                  </div>

              </div><!-- col-lg-5 -->

            </div> <!--/.row -->

          </div> <!-- jumbotron -->
          {% endblock jumbotron%}

          {% block post%}

          {% endblock post%}

  
          {% block articles %}
          <div class="container">
          <div class="row">
            
              <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="../../static/image/289919_1252843359020_250_330.jpg" alt="..."width="100px">
                  </a>
                <div class="media-body">
                  
                  <h4 class="media-heading"><a href="#">Diving in the money poll</a></h4>
                  <span class="label label-info">Link</span>
                  <a href="http://disney.wikia.com/wiki/Scrooge_McDuck">Diving in the money poll</a>
                </div>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
                  
               
              </div><!--/media-->
          </div><!--/row-->
        

           <div class="row">
            
              <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="../../static/image/289919_1252843359020_250_330.jpg" alt="..."width="100px">
                  </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Trend of Exporting/Importing in Scotland</a></h4>
                  <span class="label label-info">Article</span>
                  Scotland's most iconic exports, from Tunnock's tea cakes and Barr's world famous Irn Bru to high quality leather from Edinburgh...
                </div>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 8:00 PM</p>
              </div><!--/media-->
            
            
          </div><!--/row-->
           </div><!--/.container-->
          {% endblock articles %}
        </div><!--/span-->
        

        
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="siderbars" role="navigation">
          {% block sidebars %}
          <div class="well sidebar-nav">
            <ul class="nav">
             
              <table class="table table-striped table-condensed">
                  <thead>
                          <tr>
                            <th></th>
                            <th>PRICE</th>
                            <th>CHG</th>
                            <th>%CHG</th>
                          </tr>
                  </thead>   
                  <tbody>
                          <tr>
                            <td><a href="#">Dow</a></td>
                            <td>15,580</td>
                            <td style="color:red">-40</td>
                            <th style="color:red">0.27%</th>
                          </tr>
                  </tbody>
                  <tbody>
                          <tr>
                            <td><a href="#">S&P</a></td>
                            <td>1,760</td>
                            <td style="color:red">-3</td>
                            <th style="color:red">0.19%</th>
                          </tr>
                  </tbody>
                  <tbody>
                          <tr>
                            <td><a href="#">Gold</a></td>
                            <td>1,325</td>
                            <td style="color:red">-24</td>
                            <th style="color:red">1.80%</th>
                          </tr>
                  </tbody>
                   <tbody>
                          <tr>
                            <td><a href="#">MCD</a></td>
                            <td>525</td>
                            <td style="color:green">17</td>
                            <th style="color:green">0.31%</th>
                          </tr>
                  </tbody>
              </table>
              
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Groups</li>
              <li class="active"><a href="#">Scrooge Mcduck Universe</a></li>
              <li><a href="/moneyclub/groups/home">American-Scottish Trading</a></li>
              <li><a href="#">Billionare Philanthropists</a></li>
              
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Events</li>
              <li class="active"><a href="#"><span class="glyphicon glyphicon-calendar"></span>Tea Party with Duck Billionare Club</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-calendar"></span>Polishing Gold Coins</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-calendar"></span>Visiting the President</a></li>
              
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Apps</li>
              <li class="active"><a href="#">Sharing</a></li>
              <li><a href="#">Messages</a></li>
              <li><a href="#">Inviting friends</a></li>
              
            </ul>
          </div><!--/.well -->
        {% endblock sidebars %}
        </div><!--/span-->
        
      </div><!--/row-->
      
      <hr>


    </div><!--/.container-->
    {% endblock contentsblock %}

    {% block endscript %}
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
     
    <script src="/static/js/offcanvas.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.js"></script>


    {% endblock endscript %}
   
    

