<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block body %}
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Moneyclub</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" action="signin.html">
                  <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Sign in</button>
                </form>
              </div><!--/.navbar-collapse -->

               
            </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">

      <form class="form-signin"><br/><br/><br/><br/><br/><br/>
       
        
        
      
       
       <a href="/moneyclub/groups/home" class="btn btn-block btn-lg btn-info"><span class="glyphicon glyphicon-home"></span> Home</a>
       <a href="/moneyclub/groups/club_create" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Money Club</a>
       <a href="/moneyclub/groups/add_members_generic" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Members to Money Club</a>
       <a href="/moneyclub/groups/view_group_members1/" class="btn btn-block btn-lg btn-warning"><span class="glyphicon glyphicon-search"></span> View Club Members</a>
       <a href="/moneyclub/groups/view_group_members1/" class="btn btn-block btn-lg btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Block Club Members</a>
        
      </form>

    </div> <!-- /container -->
    {% endblock body %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
