{% extends "moneyclub/login_template.html" %}
  {% block headblock %}
    {% block title%}

    <title>Signin Template for Bootstrap</title>
    {% endblock title%}
    
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  {% endblock headblock %}


    {% block contentsblock %}

    <div class="container">

      <form class="form-signin"><br/><br/><br/><br/><br/><br/>
       
        
        
      
       
       <a href="/moneyclub/groups/home" class="btn btn-block btn-lg btn-info"><span class="glyphicon glyphicon-home"></span> Home</a>
       <a href="/moneyclub/groups/club_create" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Money Club</a>
       <a href="/moneyclub/groups/add_members_generic" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Members to Money Club</a>
       <a href="/moneyclub/groups/view_group_members1/" class="btn btn-block btn-lg btn-warning"><span class="glyphicon glyphicon-search"></span> View Club Members</a>
       <a href="/moneyclub/groups/view_group_members1/" class="btn btn-block btn-lg btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Block Club Members</a>
        
      </form>

    </div> <!-- /container -->
    {% endblock contentsblock %}
  
