{% extends "moneyclub/index.html" %}

    {% block title %}
    <title>{{user}}'s Newsfeed</title>
    {% endblock title %}

    
          {% block articles %}
   {%if not articles%}
   <h4 class="media-heading">Sorry, no recent news from your joined Money Clubs.</h4>
   {%endif%}
   
   <ol>
   {%for article in articles%}
   
   {%if article.articleType == 1 %}
         <li> <h4 class="media-heading">Title: <a href="/moneyclub/groups/article/{{article.id}}">{{article.title}}</a></h4>
         <div class="row">
            
              <div class="media">
              {%if article.picture%}
                  <a class="pull-left" href="#">
                    <img class="media-object dp" 
                    
                    
                    src="/moneyclub/groups/get_photo_article/{{article.id}}" 
                    
                    
                    alt="Image Not Found!" width="100px">
                  </a>
               
               
               {%endif%}
               
               
                <div class="media-body">
                  
                  <span class="label label-info">Article posted in :</span>
                  <a href="/moneyclub/groups/home/{{article.groupId.id}}/">
                  <span class="label label-danger">{{article.groupId.name|truncatechars:30}}
                  
                  {%if article.groupId.name.length > 30%}..{%endif%}</span>
                  
                  </a>
                  
                  <br/>
                  {{article.content|truncatechars:100}}..
                                    
                </div><br/>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.datetime}}</p>
              </div><!--/media-->
            
            
          </div><!--/row-->
          
          
          </li>
          <hr/>
         
         
    {% elif article.articleType == 2 %}
    <li><h4 class="media-heading">Event : <a href="/moneyclub/groups/article/{{article.id}}">{{article.title}}</a></h4>
          <div class="row">
            
              <div class="media">
                  
                  </a>
                <div class="media-body">
                  
                  
                  <span class="label label-info">Event posted in :</span>
                  <a href="/moneyclub/groups/home/{{article.groupId.id}}/">
                  <span class="label label-danger">{{article.groupId.name|truncatechars:30}}
                  
                  {%if article.groupId.name.length > 30%}..{%endif%}</span>
                  
                  </a>
                  <table class="table table-striped table-condensed">
                  
                  <tbody>
                          <tr>
                            <td><a href="/moneyclub/groups/article/{{article.id}}">Date</a></td>
                            <td>{{article.eventDate}} {{article.eventTime}}, {{article.eventDate}}</td>
                            
                          </tr>
                  </tbody>
                  <tbody>
                          <tr>
                            <td><a href="/moneyclub/groups/article/{{article.id}}">Time</a></td>
                            <td>{{article.eventTime}}</td>
                            
                          </tr>
                  </tbody>
                  <tbody>
                          <tr>
                            <td><a href="/moneyclub/groups/article/{{article.id}}">Location</a></td>
                            <td>Uncle Scoorge's Castle</td>
                            
                          </tr>
                  </tbody>
                </table>
                </div>
                
                <p class="pull-right"><span class="glyphicon glyphicon-time"></span> Posted on August 27, 2013 at 9:00 PM</p>
                  
               
              </div><!--/media-->
               

            
          </div><!--/row-->
	</li>
        <hr/>
	{%endif%}
	
  {%endfor%}
  </ol>
          {% endblock articles %}
        
