{% extends "moneyclub/login_template.html" %}
	
    {% block headblock %}
	{% block title %}
    	<title>{{user}}'s Profile</title>
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  {% endblock headblock %}

    {% block contentsblock %}
        <div class="container">

              <form class="form-signin" method="post" action="/member/reset-password">
                <h3 class="form-signin-heading">Reset Password</h3>
                
                {% for field in form.visible_fields %}
                    {{field}}
             
                    {{field.errors}}
                     
                {% endfor %}
                
                  <a href = '/member/reset-password-by-email'>
                    Fogot password? Reset by email validation
                  </a>
                
                      <input class="btn btn-primary btn-block"
                        type="submit" value="Save">
               
                {% for field in form.hidden_fields %}
                  {{field}}
                {% endfor %}
                
                {% csrf_token %}
                
              </form>
              {% for error in form.non_field_errors %}
                  <p style="color: red">
                    {{ error }}
                  </p>
              {% endfor %}
            </div> <!-- /container -->



    {% endblock contentsblock %}