{% extends "moneyclub/non_login_template.html" %}
	
    {% block headblock %}
	{% block title %}
    	<title>Retrieve Password</title>
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  {% endblock headblock %}
    {% block signin %}
    {% endblock signin %}
    {% block contentsblock %}
        <div class="container">

              <form class="form-signin" method="post" id="retrieve" name="retrieve" action="/moneyclub/member/retrieve-password">
                <h3 class="form-signin-heading">Reset Password</h3>
                
                {% for field in form.visible_fields %}
                    {{field}}
             
                    {{field.errors}}
                     
                {% endfor %}
                
                 
                
                      <input class="btn btn-primary btn-block"
                        type="submit" name="retrieve" value="Retrieve Password">
                      <input type = "hidden" value = "retrieve">
               
                {% for field in form.hidden_fields %}
                  {{field}}
                {% endfor %}
                
                {% csrf_token %}
                
              </form>
              {% for error in form.non_field_errors %}
                  <p style="color: red">
                    {{ error }}
                  </p>
              {% endfor %}
            </div> <!-- /container -->



    {% endblock contentsblock %}