{% extends "moneyclub/non_login_template.html" %}
  {% block title %}
  
    <title>Signin Template for Bootstrap</title>
  {% endblock title %}
  
    {% block signin %}
    {% endblock signin %}
    {% block contentsblock %}

    <div class="container">

      <form class="form-signin" method="post" action="/register">
        <h2 class="form-signin-heading">Sign up Moneyclub</h2>
        {% for field in form.visible_fields %}
            
          {{field}}
           {{field.errors}}
             
        {% endfor %}
        
         <input class="btn btn-primary btn-block"
          type="submit" value="Register">
          
        {% for field in form.hidden_fields %}
          {{field}}
        {% endfor %}
        
        {% csrf_token %}
      </form>
      {% for error in form.non_field_errors %}
          <p style="color: red">
            {{ error }}
          </p>
      {% endfor %}
    </div> <!-- /container -->

    {% endblock contentsblock %}
  
