{% extends "moneyclub/index.html"%}

    {% block headblock %}
    {% block title %}
    <title>{{group_name}}</title>
    {% endblock title %}
    
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  {% endblock headblock %}
  
    {% block contentsblock %}

    <div class="container">

      <form class="form-signin"><br/><br/><br/><br/><br/><br/>
        
        
        {%if create_group %}
        <h2 class="form-signin-heading"><a href="/moneyclub/groups/home/{{group.id}}"><div class="btn btn-block btn-lg btn-success">
        <span class="glyphicon glyphicon-ok"></span> {{message}} <br/>Click here to go to <br/>your new Money Club </div></a></h2>
        {%endif%}
        
        {%if group_join %}
       	
        <h2 class="form-signin-heading"><div class="btn btn-block btn-lg btn-success">
        <span class="glyphicon glyphicon-ok"></span> 
        You request was sent to the Group - <br/>Owner. Please wait for confirmation.
        </div>
        </h2>
        	
        	
        	{%endif%}
      </form>

    </div> <!-- /container -->
    {% endblock contentsblock %}
